<mat-toolbar color="primary">
    <mat-toolbar-row>
        <div class="row between-xs middle-xs header-row">
            <nav>
                <a mat-button routerLink="/home" routerLinkActive="active">
                     Inventario de Vacunacion
                </a>         
            </nav>
            <a mat-button routerLinkActive="active">
                    <mat-icon>account_circle</mat-icon>
                     Usuario
            </a>
        </div>
    </mat-toolbar-row>
</mat-toolbar>