<mat-card>
    <mat-card-header>
        <mat-card-title>Nombres:{{empleado.nombres}}</mat-card-title>
        <mat-card-title>Apellidos{{empleado.apellidos}}</mat-card-title>
        <br>
    </mat-card-header>    
    <mat-card-content>
        <p>Cédula: {{ empleado.cedula}}</p>
        <p>Correo: {{ empleado.email}}</p>
        <p>Nombre de usuario: {{ empleado.username}}</p>
        <p>Fecha de nacimiento: {{ empleado.fecha_nacimiento}}</p>
        <p>Dirección: {{ empleado.direccion}}</p>
        <p>Celular: {{ empleado.telefono_movil}}</p>
        <p>Estado de vacunacion {{ empleado.estado_vacunacion}}</p>
        <p>Tipo de vacuna: {{ empleado.tipo_vacuna}}</p>
        <p>fecha de vacunación: {{ empleado.fecha_vacuna}}</p>
        <p>Numero de Dosis {{ empleado.numero_dosis}}</p>
    </mat-card-content>
</mat-card>